$white: #FEFEFE;
$lightGray: #EFEFEF;
$black: #000000;
$darkGray: #131313;

$purpleGray: #8f8da8;

$lilac: #C8A2C8;
$purple: #302b63;
$darkPurpleTop: #24243e;
$darkPurpleBottom: #0f0c29;

$blue: #7eaef2;