@import '../../styles/colors';

:host {
  display: block;
  background: $darkPurpleBottom;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, darkPurpleTop, $purple, $darkPurpleBottom);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, darkPurpleTop, $purple, $darkPurpleBottom); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .header {
    display: flex;
    align-items: center;
    color: $purpleGray;
    height: 64px;

    .title {
      font-size: 2rem;
    }

    .logo {
      display: inline-block;
      max-width: 48px;
      max-height: 48px;
      margin: 0.5rem;
    }
  }
}